<div class="ac-button h-16 md:h-20 px-8 bg-gray-50">
    <div class="flex items-center justify-between h-full">
        <p class="ac-title text-lg md:text-2xl">タイトル</p>
        <img src="images/icons/general/down.svg" alt="" class="icon size-6 md:size-8">
    </div>
</div>
<div class="ac-content">
    <div class="overflow-hidden">
            <div class="px-4 md:px-8 py-6 md:py-8 bg-gray-100">
            <p class="ac-desc text-sm md:text-lg">
                説明
            </p>
        </div>   
    </div>    
</div>