<style>
.drawer-hide{
    opacity: 0;
    pointer-events: none;
}
.drawer-slided{
    transform: translateX(100%);
}
</style>

<div id="header-fade" class="flex items-center justify-between h-12 md:h-20 pl-4 md:pl-8 pr-4 bg-myblack/50 transition duration-500">
    <a href="index.html">
        <h1 class="text-2xl md:text-4xl font-bold font-serif text-white text-center">颯剣会</h1>
    </a>

    <div class="flex items-center justify-end gap-4">
        <div class="hidden md:flex items-center justify-end gap-8 h-12 px-4 text-slate-50">
            <a href="index.html"><p class="text-base transition duration-300 hover:text-fuchsia-400 hover:-translate-y-0.5">Home</p></a>
            <a href="about.html"><p class="text-base transition duration-300 hover:text-fuchsia-400 hover:-translate-y-0.5">About</p></a>
            <a href="rule.html"><p class="text-base transition duration-300 hover:text-fuchsia-400 hover:-translate-y-0.5">Rules</p></a>
            <a href="record.html"><p class="text-base transition duration-300 hover:text-fuchsia-400 hover:-translate-y-0.5">Record</p></a>
            <a href="event.html"><p class="text-base transition duration-300 hover:text-fuchsia-400 hover:-translate-y-0.5">Events</p></a>
            <a href="contact.html">
                <div class="w-fit px-8 py-3 rounded-md bg-fuchsia-500/80 transition duration-300 hover:bg-fuchsia-700/80 group">
                    <p class="text-slate-50 font-bold transition duration-300 group-hover:text-gray-300">Contact</p>
                </div>
            </a>
        </div>
    </div>

    
    <div id="hamburger" class="relative z-50 md:hidden flex flex-col items-center justify-evenly gap-1.5 group">
        <div class="bar h-0.5 w-10 bg-slate-50 group-hover:bg-gray-300 transition duration-300"></div>
        <div class="bar h-0.5 w-10 bg-slate-50 group-hover:bg-gray-300 transition duration-300"></div>
        <div class="bar h-0.5 w-10 bg-slate-50 group-hover:bg-gray-300 transition duration-300"></div>
    </div> 
</div>

<div id="drawer-wrapper" class="drawer-hide md:hidden fixed inset-0 z-20 flex justify-end transition duration-300">
    <div id="drawer-overlay" class="absolute inset-0 z-10 bg-black/40"></div>

    <div id="drawer-content" class="drawer-slided relative z-20 h-full w-64 px-6 py-8 bg-myblack/80 text-slate-50 text-lg transition duration-300">
        <h2 class="text-xl text-turquoise font-semibold">MENU</h2>
        <div class="h-0.5 w-full bg-turquoise"></div>

        <ul class="px-4 py-4 space-y-4">
            <li>
                <a href="index.html" class="">
                    <p class="transition duration-300 hover:text-fuchsia-400 hover:translate-x-0.5">Home</p>
                </a>
            </li>
            <li>
                <a href="about.html" class="">
                    <p class="transition duration-300 hover:text-fuchsia-400 hover:translate-x-0.5">About</p>
                </a>
            </li>
            <li>
                <a href="rule.html" class="">
                    <p class="transition duration-300 hover:text-fuchsia-400 hover:translate-x-0.5">Rule</p>
                </a>
            </li>
            <li>
                <a href="record.html" class="">
                    <p class="transition duration-300 hover:text-fuchsia-400 hover:translate-x-0.5">Record</p>
                </a>
            </li>
            <li>
                <a href="event.html" class="">
                    <p class="transition duration-300 hover:text-fuchsia-400 hover:translate-x-0.5">Event</p>
                </a>
            </li>
            <li>
                <a href="contact.html" class="">
                    <p class="text-fuchsia-500 transition duration-300 hover:text-fuchsia-700 hover:translate-x-0.5">Contact</p>
                </a>
            </li>
        </ul>
    </div>
</div>
